<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>
<body>

<h1>Weather App 🌤</h1>

<form method="POST">
    <input type="text" name="city" placeholder="Enter city">
    <button type="submit">Search</button>
</form>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

{% if weather %}
    <h2>{{ weather.city }}</h2>
    <p>Temperature: {{ weather.temperature }} °C</p>
    <p>Condition: {{ weather.description }}</p>
{% endif %}

</body>
</html>